@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: #333;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  padding: 0px 5%;
}

#nav ul {
  display: flex;
}

#nav li {
  list-style: none;
}

#nav a {
  margin: 30px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

#nav a:hover {
  color: #D05A24;
}

.section {
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 100px 300px 30px;
}

.section-1 {
  height: auto;
  padding: 50px 200px 100px;
}

.section-2 {
  height: auto;
  padding: 50px 200px 100px;
}


.intro {
  line-height: 15px;
}

.intro button {
  height: 42px;
  width: 130px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: none;
  margin: 15px 10px;
}

.hire-button {
  border: 2px solid #333;
  color: #333;
  cursor: pointer;
}

.download-cv {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}

.myname {
  font-size: 50px;
}

.model {
  display: flex;
  position: absolute;
  left: 900px;
  top: 50px;
  transform: translateX(-70%);
  z-index: 1;
}

 @media only screen and (min-width : 1824px) {
.model {
  height: 65%;
  bottom: 30%;
  left: 55%;
}
}

@media screen and (max-width: 1250px) {
  .model {
    height: 500px;
    bottom: 100px;
    left: 65%;
    transform: translateX(-80%);
    padding-bottom: 100px;
  }
}

.about-container {
  height: 300px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  align-items: center;
  margin-top: 150px;
  position: relative;
  z-index: 5;
  display: flex;
  margin: 15% auto 20px auto 20px;
  justify-content: space-evenly;
}

.summary {
  width: 80%;
  color: #333;
  font-size: 19px;
}

@media screen and (max-width: 1920px) {
  .summary {
    font-size: 17px;
  }
}

.home {
  background: #fff;
}

.award {
  margin: 0% 0% 0% 55%;
  position: absolute;
  color: #D05A24;
  z-index: 5;
}

@media screen and (min-width: 1920px) {
  .award {
    margin: 0px 0px 0px 1100px;
  }
}


#circle {
  margin: -64px 0px 0px 50px;
  color: #fff;
  z-index: 1;
}

.container {
  max-width: 1000px;
}

.grid {
  display: flex;
}

#work {
  background: #333;
}

.worktitle {
  color: #fff;
  font-size: 40px;
  text-align: left;
}

.skills {
  display: flex;
  padding-top: 50px;
  margin-bottom: 100px;
}

.skills1, .skills2, .skills3 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: #fff;
  margin: 100px 0px 20px -20px;
}

.icons {
  color: #fff;
  justify-content: space-between;
  display: flex;
  margin: -100px;
  padding: 150px 300px 0px 400px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  margin-bottom: 100px;
}

.box-1, .box-2, .box-3 {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 12px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  margin: 0px 40px;
}

.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background-color: #fff;
  color: #333;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.box-1 .heading,
.box-2 .heading,
.box-3 .heading {
  font-size: 20px;
}

.box-1 p,
.box-2 p,
.box-3 p {
  color: #fff;
  text-align: center;
  width: 230px;
  line-height: 1.8em;
  }

.box-1 button,
.box-2 button,
.box-3 button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  font-weight: 505;
  cursor: pointer;
  margin-top: 8px;
}


.box-1 button:hover,
.box-2 button:hover,
.box-3 button:hover {
  color: #D05A24;
  transition: background-color .5s;
  cursor: pointer;
}

.box-1 button a,
.box-2 button a,
.box-3 button a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.hero {
  font-size: 25px;
}

.hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  font-weight: 200;
  text-align: center;
  color: #000000;
}

.hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  font-weight: bold;
  background-color: #ccc;
}

.hero input[type="submit"]:hover {
  color: #D05A24;
  transition: background-color .5s;
  cursor: pointer;
}

@media (max-width: 650px) {
  .hero {
    margin-top: 250px;
  }
}

h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
}

p {
  line-height: 1.6em;
}

/*form*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
  --color-white: #f3f3f3;
  --color-green: #D05A24;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  text-align: left;
  margin: 0;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://st2.depositphotos.com/2256195/8712/i/950/depositphotos_87126632-stock-photo-programmer-writing-html-code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  font-size: 1.5rem;
  text-align: left;
}
h1, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
label {
  display: flex;
  align-items: left;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
input,
button,
select,
textarea, {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
botton {
  border: none;
}
.container {
  width: 100%;
  margin: 3.125rem auto 2rem auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
.clue {
  margin-left: 0.25rem;
  font-size: 1.0rem;
  color: #e4e4e4;
}
  .text-center {
    text-align: center;
  }

form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 2.5rem;
    border-radius: .3rem;
      }
@media (min-width: 480) {
  form {
    padding: 2.5rem 0rem 2.5rem;
  }
}
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    align-items: left;
}
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: .625rem;
    resize: vertical;
  }
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    border-color: var(--color-green);
    transition: .3s ease background-color;
  }

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
}

#status.success {
  background-color: rgb(208, 90, 36);
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

  .social {
    word-spacing: 25px;
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
  }

  #social-1 {
    color: #D05A24;
    margin-right: 15px;
  }

  #social-1:hover {
    color: #fff;
  }

  #social-2 {
  color: #fff;
  }

  #social-2:hover {
    color: #D05A24;
    cursor: pointer;
  }

footer {
  bottom: 0;
  background-color: #333;
  padding: 50px;
  width: 100%;
  diplay: flex;
}

footer > span {
  display: flex;
  font-size: 0.9em;
  color: #fff;
  justify-content: center;
}
